extends layout 

block content-head 
    title About Us - Air Ticket Booking
    
block content-body  
  section.about-us-section(style="background-image: url('./air_ticket/img/bd1.jpg'); background-size: cover; background-position: center; padding: 50px;")
    h2 About Us
    p
      | Welcome to Blood Donation Booking! We are dedicated to providing the best blood donation booking experience, offering 
      |  reliable service  worldwide. Our platform allows users to receive support 24/7.
    p
      | Our mission is to make Blood Donation easier, more convenient, and accessible for everyone. With a simple and 
      | intuitive platform
    img.about-us-image(src="./assets/img/aboutus.jpg" alt="About Us Image")
